# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist-ssr
*.local
프로그램 구성 파일/data/
프로그램 구성 파일/build/
프로그램 구성 파일/.venv/
.venv/
.pytest_cache/
**/__pycache__/
*.pyc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
